html,
body {
  margin: 0px;
  -ms-overflow-style: none;
  background-color: white;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
}
.header {
  position: fixed;
  width: 100vw;
  height: 9vh;
  background: white;
  z-index: 100;
  margin: 0px;
}
h1 {
  position: absolute;
  vertical-align: center;
  top: 0px;
  right: 4vw;
  width: 100vw;
  height: 3vh;
  text-align: right;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
/****************index page****************/
.page-container {
  position: absolute;
  top: 9vh;
  left: 0px;
  width: 100vw;
  height: 91vh;
  padding: auto;
  background-color: white;
}
/*새글작성 버튼*/

#feed-container {
  position: fixed;
}
#newFeed {
  display: block;
  position: absolute;
  left: 4vw;
  width: 92vw;
  height: 10vh;
  text-align: center;
  background: #bb2649;
  border-radius: 12px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 67px;
  color: #ffffff;
}

#feedBox {
  position: fixed;
  top: 21vh;
  left: 0px;
  width: 100vw;
  height: 76vh;
  padding: auto;
  background-color: white;
}
.msgList {
  position: absolute;
  top: 0px;
  left: 0px;
  list-style: none;
  width: 100vw;
  height: 73vh;
  padding: 0px;
  margin: 0px;
  overflow: scroll;
}

.msgList li {
  position: relative;
  left: 4vw;
  width: 92vw;
  height: 11vh;
}
.msg-link {
  position: relative;
  box-sizing: border-box;
  margin: 16px 0px;
  width: 92vw;
  height: 76px;
  background-color: #bb2649;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
  opacity: 0;
}

.msg-item {
  position: relative;
  bottom: 14vh;
  box-sizing: border-box;
  margin: 16px 0px;
  width: 92vw;
  height: 76px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.msg-img img {
  width: 76px;
  height: 76px;
  border-radius: 12px 0px 0px 12px;
}
.msg-text {
  width: 86vw;
  height: 76px;
  border-radius: 12px;
}
.msg-title {
  height: 23px;
  width: 65vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 12px;
  margin-left: 16px;
  margin-bottom: 10px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}
.msg-content {
  height: 23px;
  width: 65vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 16px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}
/****************new page****************/
#newFeedForm {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
.fakeImgBox {
  box-sizing: border-box;
  margin: auto;
  margin-top: 16px;
  width: 92vw;
  height: 96px;
  line-height: 96px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  text-align: center;
  font-size: 45px;
  color: #e2e2e2;
}
.inputBox {
  width: 92vw;
  padding-left: 4vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
}

.inputBox hr {
  position: relative;
  width: 92vw;
  color: #e8e8e8;
}

.inputBox input {
  width: 92vw;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  border: none;
}
.inputBox textarea {
  position: absolute;
  width: 92vw;
  height: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: none;
  resize: none;
}
#postBtn {
  display: block;
  position: fixed;
  bottom: 4vh;
  left: 4vw;
  width: 92vw;
  height: 66px;
  text-align: center;
  background: #bb2649;
  border-radius: 12px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 66px;
  color: #ffffff;
  border: none;
}
/****************detail page****************/
#feedDetail-container {
  overflow: scroll;
}

.detail img {
  width: 100vw;
  height: 100vw;
}

.detail h3 {
  width: 92vw;
  overflow: hidden;
  height: auto;
  margin-left: 4vw;
  margin-bottom: 4vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.detail .date {
  width: 92vw;
  margin-top: 0px;
  margin-left: 4vw;
  margin-bottom: 4vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
}
.detail .content {
  width: 92vw;
  overflow: hidden;
  height: auto;
  margin-left: 4vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.detail .container {
  width: 92vw;
  height: 28px;
  margin-left: 4vw;
  text-align: right;
  font-size: 20px;
}
#removeBtn {
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}
.detail #editBtn {
  position: relative;
  top: 4px;
  left: 26px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  margin-bottom: 0px;
  z-index: 5;
  cursor: pointer;
}
#commentView {
  margin-bottom: 100px;
}
.reviewItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  height: 30px;
  overflow: hidden;
  height: auto;
  margin-left: 4vw;
}
#commentView .content {
  margin-left: 0px;
  width: 80vw;
}
.reviewDelete {
  text-align: center;
  font-size: 11px;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
}

.CommentWrite {
  position: fixed;
  padding-top: 10px;
  height: 50px;
  bottom: 0px;
  width: 100vw;
  background-color: white;
  z-index: 10;
}

#commentInput {
  width: 80vw;
  margin-left: 4vw;
  height: 30px;
}
#commentBtn {
  width: 10vw;
  height: 34px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

/*피드 수정 페이지*/

.editFeedForm {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 88vh;
  overflow: scroll;
}

.originalImgBox img {
  width: 100vw;
  height: 100vw;
}

.editFeedForm h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.editFeedForm .inputBox {
  width: 92vw;
  margin-left: 4vw;
  height: 300px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0px;

  color: #000000;
}

.editFeedForm textarea {
  height: 150px;
  width: 92vw;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 2px;

  color: #000000;
}

#edittBtn {
  display: block;
  position: absolute;
  left: 4vw;
  width: 92vw;
  height: 66px;
  text-align: center;
  background: #bb2649;
  border-radius: 12px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 66px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
